In [7]:
import json
import os
import pandas as pd
from git.repo.base import Repo
import mysql.connector as sql

In [8]:
#Aggregated Transaction 
path1 = "C:/Users/Dell/Desktop/phonepe_pulse/pulse/data/aggregated/transaction/country/india/state/"
Aggregated_Transaction_State_List = os.listdir(path1)
Column1 = {"State":[], "Year":[], "Quater":[], "Transaction_Type":[], "Transaction_Count":[], "Transaction_Amount":[]}
for i in Aggregated_Transaction_State_List:
    path_i = path1+ i + "/"
    Agg_Year = os.listdir(path_i)
    for j in Agg_Year:
        path_j = path_i+ j + "/"
        Agg_Year_List = os.listdir(path_j)
        for k in Agg_Year_List:
            path_k = path_j + k
            Data1 = open(path_k,"r")
            D1 = json.load(Data1)
            for z in D1['data']['transactionData']:
                Name = z['name']
                Count = z['paymentInstruments'][0]['count']
                Amount= z['paymentInstruments'][0]['amount']
                Column1['Transaction_Type'].append(Name)
                Column1['Transaction_Count'].append(Count)
                Column1['Transaction_Amount'].append(Amount)
                Column1['State'].append(i)
                Column1['Year'].append(j)
                Column1['Quater'].append(int(k.strip('.json')))
Aggregated_Transaction = pd.DataFrame(Column1)   
print(Aggregated_Transaction)

                          State  Year  Quater          Transaction_Type  \
0     andaman-&-nicobar-islands  2018       1  Recharge & bill payments
1     andaman-&-nicobar-islands  2018       1     Peer-to-peer payments
2     andaman-&-nicobar-islands  2018       1         Merchant payments
3     andaman-&-nicobar-islands  2018       1        Financial Services
4     andaman-&-nicobar-islands  2018       1                    Others
...                         ...   ...     ...                       ...
3949                west-bengal  2023       2         Merchant payments
3950                west-bengal  2023       2     Peer-to-peer payments
3951                west-bengal  2023       2  Recharge & bill payments
3952                west-bengal  2023       2        Financial Services
3953                west-bengal  2023       2                    Others

      Transaction_Count  Transaction_Amount
0                  4200        1.845307e+06
1                  1871        1.213866e+07
2                   298        4.525072e+05
3                    33        1.060142e+04
4                   256        1.846899e+05
...                 ...                 ...
3949          245111000        1.767046e+11
3950          240347041        7.970548e+11
3951           58950434        3.478924e+10
3952             327537        3.174670e+08
3953             581674        4.489893e+08

[3954 rows x 6 columns]

In [12]:
Path2 = "C:/Users/Dell/Desktop/phonepe_pulse/pulse/data/aggregated/user/country/india/state/"
Aggregated_User_State_List = os.listdir(Path2)
Column2 = {"State":[],"Year":[],"Quater":[],"Users_Brand":[],"Users_Count":[],"Users_Percentage":[]}
for i in Aggregated_User_State_List:
    path_i = Path2 + i + "/"
    Agg_User_Year = os.listdir(path_i)
    for j in Agg_User_Year:
        path_j = path_i + j + "/"
        Agg_User_Year_List = os.listdir(path_j)
        for k in Agg_User_Year_List:
            path_k = path_j + k
            Data2 = open(path_k,"r")
            D2 = json.load(Data2)
            if D2['data']['usersByDevice'] is not None:
                for z in D2['data']['usersByDevice']:
                    Brand = z['brand']
                    Count = z['count']
                    Percentage = z['percentage']
                    Column2['Users_Brand'].append(Brand)
                    Column2['Users_Count'].append(Count)
                    Column2['Users_Percentage'].append(Percentage)
                    Column2['State'].append(i)
                    Column2['Year'].append(j)
                    Column2['Quater'].append(int(k.strip('.json')))
Aggregated_User = pd.DataFrame(Column2)
print(Aggregated_User)

                          State  Year  Quater Users_Brand  Users_Count  \
0     andaman-&-nicobar-islands  2018       1      Xiaomi         1665
1     andaman-&-nicobar-islands  2018       1     Samsung         1445
2     andaman-&-nicobar-islands  2018       1        Vivo          982
3     andaman-&-nicobar-islands  2018       1        Oppo          501
4     andaman-&-nicobar-islands  2018       1     OnePlus          332
...                         ...   ...     ...         ...          ...
6727                west-bengal  2022       1      Lenovo       330017
6728                west-bengal  2022       1     Infinix       284678
6729                west-bengal  2022       1        Asus       280347
6730                west-bengal  2022       1       Apple       277752
6731                west-bengal  2022       1      Others      2196334

      Users_Percentage
0             0.247033
1             0.214392
2             0.145697
3             0.074332
4             0.049258
...                ...
6727          0.015056
6728          0.012987
6729          0.012790
6730          0.012671
6731          0.100199

[6732 rows x 6 columns]

In [16]:
Path3 = "C:/Users/Dell/Desktop/phonepe_pulse/pulse/data/map/transaction/hover/country/india/state/"
Map_Transaction_State_List = os.listdir(Path3)
Column3 = {"State":[],"Year":[],"Quater":[],"HoverDataList_District":[],"HoverDataList_Count":[],"HoverDataList_Amount":[]}
for i in Map_Transaction_State_List:
    path_i = Path3+ i + "/"
    Map_Trans_Year = os.listdir(path_i)
    for j in Map_Trans_Year:
        path_j = path_i + j + "/"
        Map_Trans_Year_List = os.listdir(path_j)
        for k in Map_Trans_Year_List:
            path_k = path_j + k
            Data3 = open(path_k,'r')
            D3 = json.load(Data3)
            for z3 in D3['data']['hoverDataList']:
                District = z3['name']
                Count = z3['metric'][0]['count']
                Amount = z3['metric'][0]['amount']
                Column3['HoverDataList_District'].append(District)
                Column3['HoverDataList_Count'].append(Count)
                Column3['HoverDataList_Amount'].append(Amount)
                Column3['State'].append(i)
                Column3['Year'].append(j)
                Column3['Quater'].append(int(k.strip('.json')))
Map_Transaction = pd.DataFrame(Column3)
print(Map_Transaction)

                           State  Year  Quater  \
0      andaman-&-nicobar-islands  2018       1
1      andaman-&-nicobar-islands  2018       1
2      andaman-&-nicobar-islands  2018       1
3      andaman-&-nicobar-islands  2018       2
4      andaman-&-nicobar-islands  2018       2
...                          ...   ...     ...
16095                west-bengal  2023       2
16096                west-bengal  2023       2
16097                west-bengal  2023       2
16098                west-bengal  2023       2
16099                west-bengal  2023       2

                  HoverDataList_District  HoverDataList_Count  \
0      north and middle andaman district                  442
1                 south andaman district                 5688
2                      nicobars district                  528
3      north and middle andaman district                  825
4                 south andaman district                 9395
...                                  ...                  ...
16095                     nadia district             26194658
16096                   birbhum district             14912523
16097           purba medinipur district             30724502
16098                    maldah district             24677357
16099                 darjiling district             13049366

       HoverDataList_Amount
0              9.316631e+05
1              1.256025e+07
2              1.139849e+06
3              1.317863e+06
4              2.394824e+07
...                     ...
16095          5.410386e+10
16096          2.941312e+10
16097          6.595899e+10
16098          5.218621e+10
16099          2.372866e+10

[16100 rows x 6 columns]

In [5]:
from pprint import pprint
Data3 = open(path_k,'r')
D3 = json.load(Data3)
pprint(D3)

{'code': 'SUCCESS',
 'data': {'hoverDataList': [{'metric': [{'amount': 68370869540.0,
                                         'count': 33239786,
                                         'type': 'TOTAL'}],
                             'name': 'south twenty four parganas district'},
                            {'metric': [{'amount': 38238042557.0,
                                         'count': 19202083,
                                         'type': 'TOTAL'}],
                             'name': 'purba bardhaman district'},
                            {'metric': [{'amount': 30998034157.0,
                                         'count': 15152358,
                                         'type': 'TOTAL'}],
                             'name': 'uttar dinajpur district'},
                            {'metric': [{'amount': 1598525835.0,
                                         'count': 830355,
                                         'type': 'TOTAL'}],
                             'name': 'kalimpong district'},
                            {'metric': [{'amount': 82718719673.0,
                                         'count': 35310718,
                                         'type': 'TOTAL'}],
                             'name': 'murshidabad district'},
                            {'metric': [{'amount': 49071906041.0,
                                         'count': 26646934,
                                         'type': 'TOTAL'}],
                             'name': 'paschim medinipur district'},
                            {'metric': [{'amount': 10743780287.0,
                                         'count': 5242715,
                                         'type': 'TOTAL'}],
                             'name': 'dakshin dinajpur district'},
                            {'metric': [{'amount': 15244621609.0,
                                         'count': 8628928,
                                         'type': 'TOTAL'}],
                             'name': 'jalpaiguri district'},
                            {'metric': [{'amount': 14258121172.0,
                                         'count': 11504072,
                                         'type': 'TOTAL'}],
                             'name': 'purulia district'},
                            {'metric': [{'amount': 151571700376.0,
                                         'count': 96628528,
                                         'type': 'TOTAL'}],
                             'name': 'north twenty four parganas district'},
                            {'metric': [{'amount': 21054538356.0,
                                         'count': 12236326,
                                         'type': 'TOTAL'}],
                             'name': 'bankura district'},
                            {'metric': [{'amount': 5182564318.0,
                                         'count': 3162650,
                                         'type': 'TOTAL'}],
                             'name': 'jhargram district'},
                            {'metric': [{'amount': 53521241869.0,
                                         'count': 27156689,
                                         'type': 'TOTAL'}],
                             'name': 'howrah district'},
                            {'metric': [{'amount': 52098664362.0,
                                         'count': 27753013,
                                         'type': 'TOTAL'}],
                             'name': 'hooghly district'},
                            {'metric': [{'amount': 116559452847.0,
                                         'count': 67649153,
                                         'type': 'TOTAL'}],
                             'name': 'kolkata district'},
                            {'metric': [{'amount': 22602389896.0,
                                         'count': 13234951,
                                         'type': 'TOTAL'}],
                             'name': 'koch bihar district'},
                            {'metric': [{'amount': 11210432870.0,
                                         'count': 6075500,
                                         'type': 'TOTAL'}],
                             'name': 'alipurduar district'},
                            {'metric': [{'amount': 38880657302.0,
                                         'count': 26104521,
                                         'type': 'TOTAL'}],
                             'name': 'paschim bardhaman district'},
                            {'metric': [{'amount': 54103857184.0,
                                         'count': 26194658,
                                         'type': 'TOTAL'}],
                             'name': 'nadia district'},
                            {'metric': [{'amount': 29413124481.0,
                                         'count': 14912523,
                                         'type': 'TOTAL'}],
                             'name': 'birbhum district'},
                            {'metric': [{'amount': 65958992755.0,
                                         'count': 30724502,
                                         'type': 'TOTAL'}],
                             'name': 'purba medinipur district'},
                            {'metric': [{'amount': 52186214308.0,
                                         'count': 24677357,
                                         'type': 'TOTAL'}],
                             'name': 'maldah district'},
                            {'metric': [{'amount': 23728655177.0,
                                         'count': 13049366,
                                         'type': 'TOTAL'}],
                             'name': 'darjiling district'}]},
 'responseTimestamp': 1692619257779,
 'success': True}

In [19]:
Path4 = "C:/Users/Dell/Desktop/phonepe_pulse/pulse/data/map/user/hover/country/india/state/"
Map_User_State_List = os.listdir(Path4)
Column4={"State":[],"Year":[],"Quater":[],"Districts":[],"RegisteredUsers":[],"AppOpens":[]}
for i in Map_User_State_List:
    path_i = Path4+i+"/"
    Map_User_Year = os.listdir(path_i)
    for j in Map_User_Year:
        path_j = path_i+j+"/"
        Map_User_Year_List = os.listdir(path_j)
        for k in Map_User_Year_List:
            path_k = path_j +k
            Data4 = open(path_k,"r")
            D4 = json.load(Data4)
            for z in D4['data']['hoverData']:
                Column4['Districts'].append(z)
                Column4['RegisteredUsers'].append(D4['data']['hoverData'][z]['registeredUsers'])
                Column4['AppOpens'].append(D4['data']['hoverData'][z]['appOpens'])
                Column4['State'].append(i)
                Column4['Year'].append(j)
                Column4['Quater'].append(int(k.strip('.json')))
Map_User = pd.DataFrame(Column4)
print(Map_User)

                           State  Year  Quater  \
0      andaman-&-nicobar-islands  2018       1
1      andaman-&-nicobar-islands  2018       1
2      andaman-&-nicobar-islands  2018       1
3      andaman-&-nicobar-islands  2018       2
4      andaman-&-nicobar-islands  2018       2
...                          ...   ...     ...
16099                west-bengal  2023       2
16100                west-bengal  2023       2
16101                west-bengal  2023       2
16102                west-bengal  2023       2
16103                west-bengal  2023       2

                               Districts  RegisteredUsers  AppOpens
0      north and middle andaman district              632         0
1                 south andaman district             5846         0
2                      nicobars district              262         0
3      north and middle andaman district              911         0
4                 south andaman district             8143         0
...                                  ...              ...       ...
16099                     nadia district          1482400   9509833
16100                   birbhum district           934943  12789154
16101           purba medinipur district          1468608  12096564
16102                    maldah district          1046132  17662446
16103                 darjiling district           613398  15141713

[16104 rows x 6 columns]

In [20]:
Path5 = "C:/Users\Dell/Desktop/phonepe_pulse/pulse/data/top/transaction/country/india/state/"
Top_Transaction_State_List = os.listdir(Path5)
Column5 ={"State":[],"Year":[],"Quater":[],"District":[],"Amount":[],"Count":[]}
Column6 ={"State":[],"Year":[],"Quater":[],"Pincode":[],"Amount":[],"Count":[]}
for i in Top_Transaction_State_List:
    path_i = Path5+i+"/"
    Top_Trans_Year = os.listdir(path_i)
    for j in Top_Trans_Year:
        path_j = path_i+j+"/"
        Top_Trans_Year_List = os.listdir(path_j)
        for k in Top_Trans_Year_List:
            path_k = path_j+k
            Data5 = open(path_k,"r")
            D5 = json.load(Data5)
            for z in D5['data']['districts']:
                District = z['entityName']
                Amount = z['metric']['amount']
                Count = z['metric']['count']
                Column5['District'].append(District)
                Column5['Amount'].append(Amount)
                Column5['Count'].append(Count)
                Column5['State'].append(i)
                Column5['Year'].append(j)
                Column5['Quater'].append(int(k.strip('.json')))
            for z in D5['data']['pincodes']:
                Pincode = z['entityName']
                Amount = z['metric']['amount']
                Count = z['metric']['count']
                Column6['Pincode'].append(Pincode)
                Column6['Amount'].append(Amount)
                Column6['Count'].append(Count)
                Column6['State'].append(i)
                Column6['Year'].append(j)
                Column6['Quater'].append(int(k.strip('.json')))
Top_Transaction1 = pd.DataFrame(Column5)
Top_Transaction2 = pd.DataFrame(Column6)     
print(Top_Transaction1)

                          State  Year  Quater                  District  \
0     andaman-&-nicobar-islands  2018       1             south andaman
1     andaman-&-nicobar-islands  2018       1                  nicobars
2     andaman-&-nicobar-islands  2018       1  north and middle andaman
3     andaman-&-nicobar-islands  2018       2             south andaman
4     andaman-&-nicobar-islands  2018       2                  nicobars
...                         ...   ...     ...                       ...
6507                west-bengal  2023       2                   hooghly
6508                west-bengal  2023       2                    howrah
6509                west-bengal  2023       2         paschim medinipur
6510                west-bengal  2023       2                     nadia
6511                west-bengal  2023       2         paschim bardhaman

            Amount     Count
0     1.256025e+07      5688
1     1.139849e+06       528
2     9.316631e+05       442
3     2.394824e+07      9395
4     3.072437e+06      1120
...            ...       ...
6507  5.209866e+10  27753013
6508  5.352124e+10  27156689
6509  4.907191e+10  26646934
6510  5.410386e+10  26194658
6511  3.888066e+10  26104521

[6512 rows x 6 columns]

In [8]:
print(Top_Transaction2)

                          State  Year  Quater Pincode        Amount    Count
0     andaman-&-nicobar-islands  2018       1  744101  2.769298e+06     1622
1     andaman-&-nicobar-islands  2018       1  744103  2.238042e+06     1223
2     andaman-&-nicobar-islands  2018       1  744102  3.519060e+06      969
3     andaman-&-nicobar-islands  2018       1  744105  1.298561e+06      685
4     andaman-&-nicobar-islands  2018       1  744104  1.039715e+06      340
...                         ...   ...     ...     ...           ...      ...
7848                west-bengal  2023       2  700001  6.259877e+09  2918444
7849                west-bengal  2023       2  721301  4.458107e+09  2910870
7850                west-bengal  2023       2  700039  4.662887e+09  2886562
7851                west-bengal  2023       2  700015  4.372975e+09  2774383
7852                west-bengal  2023       2  700014  5.108638e+09  2757479

[7853 rows x 6 columns]

In [21]:
Path6 ="C:/Users/Dell/Desktop/phonepe_pulse/pulse/data/top/user/country/india/state/"
Top_User_State_List = os.listdir(Path6)
Column7 ={"State":[],"Year":[],"Quater":[],"District":[],"RegisteredUsers":[]}
Column8 ={"State":[],"Year":[],"Quater":[],"Pincode":[],"RegisteredUsers":[]}
for i in Top_User_State_List:
    path_i = Path6+i+"/"
    Top_User_Year = os.listdir(path_i)
    for j in Top_User_Year:
        path_j = path_i+j+"/"
        Top_User_Year_List = os.listdir(path_j)
        for k in Top_User_Year_List:
            path_k = path_j+k
            Data6 = open(path_k,"r")
            D6 = json.load(Data6)
            for z in D6['data']['districts']:
                District = z['name']
                RegisteredUsers = z['registeredUsers']
                Column7['District'].append(District)
                Column7['RegisteredUsers'].append(RegisteredUsers)
                Column7['State'].append(i)
                Column7['Year'].append(j)
                Column7['Quater'].append(int(k.strip('.json')))
            for z in D6['data']['pincodes']:
                Pincode = z['name']
                RegisteredUsers = z['registeredUsers']
                Column8['Pincode'].append(Pincode)
                Column8['RegisteredUsers'].append(RegisteredUsers)
                Column8['State'].append(i)
                Column8['Year'].append(j)
                Column8['Quater'].append(int(k.strip('.json')))
Top_User1 = pd.DataFrame(Column7)
Top_User2 = pd.DataFrame(Column8)
print(Top_User1)

                          State  Year  Quater                  District  \
0     andaman-&-nicobar-islands  2018       1             south andaman
1     andaman-&-nicobar-islands  2018       1  north and middle andaman
2     andaman-&-nicobar-islands  2018       1                  nicobars
3     andaman-&-nicobar-islands  2018       2             south andaman
4     andaman-&-nicobar-islands  2018       2  north and middle andaman
...                         ...   ...     ...                       ...
6507                west-bengal  2023       2                    howrah
6508                west-bengal  2023       2                     nadia
6509                west-bengal  2023       2           purba medinipur
6510                west-bengal  2023       2         paschim medinipur
6511                west-bengal  2023       2           purba bardhaman

      RegisteredUsers
0                5846
1                 632
2                 262
3                8143
4                 911
...               ...
6507          1546777
6508          1482400
6509          1468608
6510          1328693
6511          1221383

[6512 rows x 5 columns]

In [10]:
print(Top_User2)

                          State  Year  Quater Pincode  RegisteredUsers
0     andaman-&-nicobar-islands  2018       1  744103             1608
1     andaman-&-nicobar-islands  2018       1  744101             1108
2     andaman-&-nicobar-islands  2018       1  744105             1075
3     andaman-&-nicobar-islands  2018       1  744102             1006
4     andaman-&-nicobar-islands  2018       1  744104              272
...                         ...   ...     ...     ...              ...
7849                west-bengal  2023       2  700015           117690
7850                west-bengal  2023       2  742304           114746
7851                west-bengal  2023       2  721101           114293
7852                west-bengal  2023       2  700150           110694
7853                west-bengal  2023       2  700091           110637

[7854 rows x 5 columns]

In [1]:
import mysql.connector as sql
connection = sql.connect(host = 'localhost',
user = 'root',
password = 'Bonda@1311')

In [2]:
cursor = connection.cursor()

In [3]:
cursor.execute("CREATE DATABASE IF NOT EXISTS phonepe_pulse")

In [4]:
cursor.execute("USE phonepe_pulse")

In [5]:
cursor.execute("CREATE TABLE IF NOT EXISTS aggregated_transaction (State VARCHAR(50), Year INT, Quater INT, Transaction_Type VARCHAR(100), Transaction_Count INT,Transaction_Amount FLOAT)")

In [10]:
cursor.execute("CREATE TABLE IF NOT EXISTS aggregated_user (State VARCHAR(50), Year INT, Quater INT, Users_Brand VARCHAR(100), Users_Count INT,Users_Percentage FLOAT)")

In [14]:
cursor.execute("CREATE TABLE IF NOT EXISTS map_transaction (State VARCHAR(50), Year INT, Quater INT, HoverDataList_District VARCHAR(100), HoverDataList_Count INT,HoverDataList_Amount FLOAT)")

In [18]:
cursor.execute("CREATE TABLE IF NOT EXISTS map_user (State VARCHAR(50), Year INT, Quater INT, Districts VARCHAR(100), RegisteredUsers INT, AppOpens INT)")

In [23]:
cursor.execute("CREATE TABLE IF NOT EXISTS top_transaction_1 (State VARCHAR(50), Year INT, Quater INT, District VARCHAR(100), Amount FLOAT,Count INT)")

In [26]:
cursor.execute("CREATE TABLE IF NOT EXISTS top_transaction_2 (State VARCHAR(100), Year INT, Quater INT,  Pincode INT, Amount FLOAT, Count INT)")

In [28]:
cursor.execute("CREATE TABLE IF NOT EXISTS top_user_1 (State VARCHAR(50), Year INT, Quater INT, District VARCHAR(100), RegisteredUsers INT)")

In [29]:
cursor.execute("CREATE TABLE IF NOT EXISTS top_user_2 (State VARCHAR(50), Year INT, Quater INT, Pincode INT, RegisteredUsers INT)")

In [9]:
for index, row in Aggregated_Transaction.iterrows():
    query = "INSERT INTO aggregated_transaction (State, Year, Quater, Transaction_Type, Transaction_Count, Transaction_Amount) VALUES (%s, %s, %s, %s, %s, %s)"
    values = (row['State'], row['Year'], row['Quater'], row['Transaction_Type'], row['Transaction_Count'], row['Transaction_Amount'])
    cursor.execute(query, values)

In [13]:
for index, row in Aggregated_User.iterrows():
    query = "INSERT INTO aggregated_user (State, Year, Quater, Users_Brand, Users_Count, Users_Percentage) VALUES (%s, %s, %s, %s, %s, %s)"
    values = (row['State'], row['Year'], row['Quater'], row['Users_Brand'], row['Users_Count'], row['Users_Percentage'])
    cursor.execute(query, values)

In [17]:
for index, row in Map_Transaction.iterrows():
    query = "INSERT INTO map_transaction (State, Year, Quater, HoverDataList_District, HoverDataList_Count, HoverDataList_Amount) VALUES (%s, %s, %s, %s, %s, %s)"
    values = (row['State'], row['Year'], row['Quater'], row['HoverDataList_District'], row['HoverDataList_Count'], row['HoverDataList_Amount'])
    cursor.execute(query, values)

In [22]:
for index, row in Map_User.iterrows():
    query = "INSERT INTO map_user (State, Year, Quater, Districts, RegisteredUsers, AppOpens) VALUES (%s, %s, %s, %s, %s, %s)"
    values = (row['State'], row['Year'], row['Quater'], row['Districts'], row['RegisteredUsers'], row['AppOpens'])
    cursor.execute(query, values)

In [25]:
for index, row in Top_Transaction1.iterrows():
    query = "INSERT INTO top_transaction_1 (State, Year, Quater, District, Amount, Count) VALUES (%s, %s, %s, %s, %s, %s)"
    values = (row['State'], row['Year'], row['Quater'], row['District'], row['Amount'], row['Count'])
    cursor.execute(query, values)

In [27]:
for index, row in Top_Transaction2.iterrows():
    query = "INSERT INTO top_transaction_2 (State, Year, Quater, Pincode, Amount, Count) VALUES (%s, %s, %s, %s, %s, %s)"
    values = (row['State'], row['Year'], row['Quater'], row['Pincode'], row['Amount'], row['Count'])
    cursor.execute(query, values)

In [30]:
for index, row in Top_User1.iterrows():
    query = "INSERT INTO top_user_1 (State, Year, Quater, District, RegisteredUsers) VALUES (%s, %s, %s, %s, %s)"
    values = (row['State'], row['Year'], row['Quater'], row['District'], row['RegisteredUsers'])
    cursor.execute(query, values)

In [31]:
for index, row in Top_User2.iterrows():
    query = "INSERT INTO top_user_2 (State, Year, Quater, Pincode, RegisteredUsers) VALUES (%s, %s, %s, %s, %s)"
    values = (row['State'], row['Year'], row['Quater'], row['Pincode'], row['RegisteredUsers'])
    cursor.execute(query, values)

In [32]:
connection.commit()

In [33]:
cursor.close()
connection.close()